<footer>
    <div class="highlight">
        <span> win a contest! get this limited </span>
    </div>
    <div class="container">
        <div class="section">
            <div class="logo">
                <img src="../../../assets/images/logo.png" alt="" />
            </div>
            <span>Egypt-Zag</span>
            <span><strong>Call Us: </strong> <span>01201532346</span></span>
            <span
                ><strong>Email: </strong>
                <span>mohamedatef224455@gmail.com</span></span>
        </div>
        <div class="section">
          <div class="header">
            <span>Information</span>
          </div>
            <span>About US</span>
            <span>FAQ</span>
            <span>Contact US</span>
            <span>Delivery Information</span>
        </div>
        <div class="section">
          <div class="header">
            <span>Account</span>
          </div>
            <span>My Account</span>
            <span>Order History</span>
            <span>Wish List</span>
            <span>Specials</span>
        </div>
        <div class="section">
          <div class="header">
            <span>Services</span>
          </div>
            <span>Discounts</span>
            <span>Privacy</span>
            <span>Policy</span>
            <span>Terms & Condition</span>
        </div>
    </div>
    <div class="social">
      <div>
      copyright &COPY; 2021 Mohamed Atef
    </div>
    <div class="icons">
      <i class="pi pi-linkedin"></i>
      <i class="pi pi-github"></i>
      <i class="pi pi-twitter"></i>
      <i class="pi pi-facebook"></i>
    </div>
    </div>
</footer>
