<div class="container">
    <div class="navigator">
        <p-galleria
            [value]="product.images"
            [numVisible]="2"
            [containerStyle]="{ width: '550px' }"
        >
            <ng-template pTemplate="item" let-item>
                <div class="image">
                    <img [src]="item" [alt]="item.alt" />
                </div>
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item>
                <div class="p-grid p-nogutter p-justify-center">
                    <img [src]="item" height="60px" />
                </div>
            </ng-template>
        </p-galleria>
    </div>
    <div class="content">
        <h5>{{ product.name }}</h5>
        <p class="description">
            {{ product.description }}
        </p>
        <div class="rate">
            <i
                class="pi"
                [ngClass]="
                    product.averageRate >= 1 ? 'pi-star-fill' : 'pi-star'
                "
            ></i>
            <i
                class="pi"
                [ngClass]="
                    product.averageRate >= 2 ? 'pi-star-fill' : 'pi-star'
                "
            ></i>
            <i
                class="pi"
                [ngClass]="
                    product.averageRate >= 3 ? 'pi-star-fill' : 'pi-star'
                "
            ></i>
            <i
                class="pi"
                [ngClass]="
                    product.averageRate >= 4 ? 'pi-star-fill' : 'pi-star'
                "
            ></i>
            <i
                class="pi"
                [ngClass]="
                    product.averageRate == 5 ? 'pi-star-fill' : 'pi-star'
                "
            ></i>
        </div>
        <p class="price">{{ product.price | currency }}</p>
        <div class="flex">
            <p-inputNumber
                [showButtons]="true"
                [min]="0"
                [max]="100"
                styleClass="counter"
            ></p-inputNumber>
            <button class="add-cart">add to cart</button>
        </div>
    </div>
</div>
