<div class="container">
  <h2>Our Services</h2>
  <p>Browse The Collection of Top Products</p>
  <div class="cards">
    <div class="card shadow-2 ">
      <i class="pi pi-send"></i>
      <p>Free Shipping</p>
      <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
    </div>
    <div class="card shadow-2 ">
      <i class="pi pi-phone"></i>
      <p>24x7 Support</p>
      <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
    </div>
    <div class="card shadow-2 ">
      <i class="pi pi-directions-alt"></i>
      <p>30 Days return</p>
      <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
    </div>
    <div class="card shadow-2 ">
      <i class="pi  pi-wallet"></i>
      <p>Payment Secure</p>
      <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
    </div>
  </div>
</div>
