<header
    class="
        flex
        justify-content-between
        align-items-center
        py-3
        px-8
        border-bottom-1 border-gray-200
        surface-overlay
    "
>
    <div class="logo">
        <img src="../../assets/images/logo.png" alt="" style="width: 120px" />
    </div>
    <div class="search">
        <span class="p-input-icon-right p-input-filled">
            <input
                type="text"
                pInputText
                placeholder="Enter Product Name"
                (input)="search($event)"
            />
            <i class="pi pi-search"></i>
        </span>
        <div class="result shadow-1" *ngIf="result[0]._id">
            <ul *ngFor="let product of result">
                <li>
                    <a [routerLink]="['product/' ,product._id]">{{ product.name }}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="icons">
        <i class="pi pi-shopping-cart"></i>
        <i class="pi pi-user"></i>
    </div>
</header>
