<div class="banners">
    <div class="banner">
        <div class="image">
            <img src="../../../assets/images/banner1.jpg" alt="" />
        </div>
        <div class="banner-text">
            <span class="banner-title-1">New Arrival</span>
            <span class="banner-title-2">Mens Sport Shoes</span>
            <span class="banner-discount">30% Discount</span>
        </div>
    </div>
    <div class="banner">
        <div class="image">
            <img src="../../../assets/images/banner 2.jpg" alt="" />
        </div>
        <div class="banner-text">
            <span class="banner-title-1">New Trending</span>
            <span class="banner-title-2">Smart Watches</span>
            <span class="banner-discount">50% Discount</span>
        </div>
    </div>
</div>
