nav {
    padding: 0;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        margin: 0px;

        li {
            margin: 0px 25px;
            a {
                font-size: 14px;
                line-height: 50px;
                font-weight: 600;
                text-decoration: none;
                letter-spacing: 0;
                text-transform: uppercase;
                color: #444444;
                display: block;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    display: inline-block;
                    height: 1em;
                    width: 100%;
                    border-bottom: 2px solid;
                    margin-top: 25px;
                    opacity: 0;
                    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                    transition: opacity 0.35s, transform 0.35s;
                    -webkit-transform: scale(0, 1);
                    transform: scale(0, 1);
                    color: #0d6efd;
                }

                &:hover:after {
                    opacity: 1;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }

                &:hover {
                    color: #0d6efd;
                    cursor: pointer;
                }
            }

            .active {
                color: #0d6efd;
                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    display: inline-block;
                    height: 1em;
                    width: 100%;
                    border-bottom: 2px solid;
                    margin-top: 25px;
                    color: #0d6efd;
                    opacity: 1;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
            }
        }
    }
}
